USE [TSE]
GO
/****** Object:  Table [dbo].[Kbars]    Script Date: 2024/7/22 下午 10:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kbars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stock_id] [int] NOT NULL,
	[ts] [datetime] NOT NULL,
	[Open_Price] [float] NOT NULL,
	[High] [float] NOT NULL,
	[Low] [float] NOT NULL,
	[Close_Price] [float] NOT NULL,
	[Volume] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticks]    Script Date: 2024/7/22 下午 10:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stock_id] [int] NOT NULL,
	[ts] [datetime] NOT NULL,
	[close_price] [float] NOT NULL,
	[volume] [int] NOT NULL,
	[bid_price] [float] NOT NULL,
	[bid_volume] [int] NOT NULL,
	[ask_price] [float] NOT NULL,
	[ask_volume] [int] NOT NULL,
	[tick_type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
